.colorFondoRosa{
   background-color: map-get($mapa-colores, color-principal);
}
.parrafoPrincipal{
    text-align: center;
   padding-top: 20px;
   font-size: larger;
}
.TituloPrincipal {
    text-align: center;
}
a {
    color: map-get($mapa-colores, color-negro);
    text-decoration: none;
}
.resaltado{
    background-color: map-get($mapa-colores, color-principal );
}