.colorFondoRosa{
    background-color: rgb(213, 159, 182);
}
.parrafoPrincipal{
    text-align: center;
    margin-top: 250px;
}
.TituloPrincipal {
    text-align: center;
}
a {
    color: #000000;
    text-decoration: none;
}